@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 0.1px);
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

main{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    margin-top: 1rem;
}

main img{
    height: 15px;
}

main div:nth-child(1){
    border-radius: 5px 5px 0 0;
    padding: 1rem;
    width: 100%;
    height: auto;
    background-color: hsl(31, 77%, 52%);
}



main div:nth-child(2){
    padding: 1rem;
    width: 100%;
    height: auto;
    background-color: hsl(184, 100%, 22%)
}

main div:nth-child(3){
    padding: 1rem;
    width: 100%;
    height: auto;
    background-color: hsl(179, 100%, 13%);
    margin-bottom: 5rem;
    border-radius: 0 0 5px 5px;
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 500;
    font-size: 0.5rem;
    margin-bottom: 1rem;
}

button{
    background-color: hsl(0, 0%, 95%);
    border: none;
    border-radius: 3rem;
    font-size: 0.4rem;
    padding: 0.4rem;
}

@media only screen and (min-width: 600px) {
    main{
        flex-direction: row;
        flex: 1;
        border-radius: 1rem;
        margin-top: 10rem;
    }

    main div:nth-child(1){
        width: 30%;
        height: 300px;
        border-radius: 0;
    }
    
    main div:nth-child(2){
        width: 30%;
        height: 300px;
        border-radius: 0;
    }
    
    main div:nth-child(3){
        width: 30%;
        height: 300px;
        border-radius: 0;
    }
  }